$blackColor: hsl(0, 0%, 0%);
$commisionerFont: 'Commissioner', sans-serif;
$darkCyan:  hsl(176, 72%, 28%);
$darkGrey: hsl(0, 0%, 48%);
$fontSize: 1rem;
$lightGrey: hsl(0, 0%, 88%);
$moderateCyan : hsl(176, 50%, 47%);
$whiteColor: hsl(0, 0%, 100%);
$paleGrey: hsl(0, 0%, 98%);
$moderateGrey: hsl(0, 0%, 96%);
$backgroundBlur: rgba(0,0,0,.5);